.m-choice {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 5px;
}

.m-img-menu {
  margin: 20px;
  width: 300px;
  height: 300px;
  align-self: center;
}

.m-group-card {
  display: grid;
  grid-template-columns: auto auto;
}

.m-submit-btn {
  height: 40px;
  width: 100px;
  align-items: center;
}

.m-badge {
  transform: translate(40%, 100%);
}

.m-sub-badge {
  transform: translate(18%, 160%);
}

#anomalies-area-form {
  display: grid;
  grid-template-columns: auto auto;
  align-self: center;
  transform: translate(75%, 50%);
  width: 50%;
}

#anomaly-form-btn {
  width: 100%;
  transform: translateX(40%);
}

.list-form {
  align-self: center;
  transform: translate(100%, 100%);
}

#users-list {
  align-self: center;
  transform: translate(100%, 100%);
  width: 30%;
}